@model IEnumerable<DepoYonetimSistemi.Models.Product>

@{
    ViewData["Title"] = "Ürün Kaldır";
}

<h2 class="mb-3">Ürün Kaldır</h2>

<div class="row">
    <!-- Ürün Kaldır -->
    <div class="col-md-4 mb-4">
        <form asp-action="Remove" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label class="form-label">Seri Numarası</label>
                <input type="text" name="serialNumber" class="form-control"
                       placeholder="Seri No" required />
                @Html.ValidationMessage("serialNumber", null, new { @class = "text-danger" })
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-danger px-4">Stoktan Düş</button>
            </div>
        </form>
    </div>

    <!-- Ürün Listesi -->
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Ürün Kodu</th>
                        <th>Ürün</th>
                        <th>Konum</th>
                        <th class="text-end">Seri Numarası</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                        var locationText = p.Location != null
                            ? $"{p.Location.Aisle}-{p.Location.Shelf}-{p.Location.Bin}"
                            : "-";

                        var serinumber = p.ProductStocks.FirstOrDefault()?.SeriNumber;

                        <tr>
                            <td>@p.SerialNumber</td>
                            <td>@p.Brand @p.Model</td>
                            <td>@locationText</td>
                            <td class="text-end">
                                @if(!string.IsNullOrEmpty(serinumber))
                                {
                                    @serinumber
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
